# Python related
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
*.venv
env/
.env/
stock-monitor-env/

# Node.js related
node_modules/

# Environment variables
backend/.env  # Important! Don't commit environment variables

# macOS related
.DS_Store
